name: CI Automatizacion de pruebas

on:
  push:
    branches: ["main"]
    workflow_dispatch:: 
      
jobs:
  build:
    runs-on: ubuntu-lastest
    steps:
      - uses : actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          
      - name: Compilar proyecto (excluyendo pruebas de este stage)
        run: mvn -B package -DskipTests
        
        # Guardar el artefacto compilado para que lo usen otros stages (opcional, pero buena práctica)
      - name: Guardar artefacto compilado
        uses: actions/upload-artifact@v4
        with:
          name: target-artifact
          path: target/*.jar

  # === STAGE 2: TEST UNITARIO ===
  test_unit:
    runs-on: ubuntu-latest
    needs: build # Depende del stage 'build'
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          
      # El comando 'mvn test' corre automáticamente las Pruebas Unitarias de Surefire
      - name: Ejecutar Pruebas Unitarias (mvn test)
        run: mvn test

  # === STAGE 3: TEST DE INTEGRACIÓN ===
  test_integration:
    runs-on: ubuntu-latest
    needs: test_unit # Depende del stage 'test_unit'
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      
      # El comando 'mvn verify' corre automáticamente las Pruebas de Integración de Failsafe
      - name: Ejecutar Pruebas de Integración (mvn verify)
        run: mvn verify